$base-blue: #4f44bb;
$base-text-color: #fff;
$bg-section-menu: #0f112d;
$bg-section-dashboard: #1b1c30;
$border-radius-common: 12px;
$border-circular: 50%;
$sidebar-item-border-radius: 12px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $base-text-color;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

.resource-links {
  bottom: 0;
  font-size: 8px;
  margin-top: 36px;
  & p, & a {
    color: #000;
  }
}

.main-container {
  margin: 0 auto;
  margin-top: 40px;
  width: 90%;
  grid-template-columns: 80px 1fr 4fr;
  grid-template-rows: 800px;
}

.sidebar {
  background-color: $base-blue;
  border-top-left-radius: $border-radius-common;
  border-bottom-left-radius: $border-radius-common;
  padding: 18px 0;
  align-items: center;
  justify-content: space-between;

  & .sidebar-top {
    gap: 48px;
    align-items: center;
  }

  & .sidebar-item-container {
    gap: 18px;

    & .sidebar-item {
      border: none;
      border-radius: $sidebar-item-border-radius;
      font-size: 28px;
      background-size: 20px;

      &:nth-child(1) {
        background-color: #4b8ad9;
      }

      &:nth-child(2) {
        background-color: #e04f61;
      }

      &:nth-child(3) {
        background-color: #d89b53;
        background-image: url('../visuals/headphone-icon.png');
      }

      &:nth-child(4) {
        background-color: #6348b2;
        background-image: url('../visuals/add-message-icon.png');
      }
    }
  }

  & .power-button {
    background-image: url('../visuals/power-icon.png');
    background-size: 14px;
  }

  & .power-button, & .sidebar-item {
    background-position: center;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    border: none;
    border-radius: $border-circular;
  }
}

.menu-section {
  background-color: $bg-section-menu;
  padding: 48px 36px 24px 36px;
}

.dashboard-section {
  background-color: $bg-section-dashboard;
  border-top-right-radius: $border-radius-common;
  border-bottom-right-radius: $border-radius-common;
}

.flex {
  display: flex;

  &-row {
    flex-direction: row;
  }

  &-col {
    flex-direction: column;
  }
}

.grid {
  display: grid;
}

.window-button-container {
  gap: 6px;

  .window-button {
    border: none;
    border-radius: $border-circular;
    width: 10px;
    height: 10px;

    &-close {
      background-color: #ec6a60;
    }

    &-minimize {
      background-color: #f5c04f;
    }

    &-expand {
      background-color: #64c856;
    }
  }

}

.profile-icon-wrapper {
  background-color: #fff;
  width: 46px;
  height: 46px;
  position: relative;

  &, & .profile-icon {
    border-radius: $border-circular;
  }

  & .profile-icon {
    position: absolute;
    background-color: red;
    width: 44px;
    height: 44px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 1px solid $base-blue;
    background-image: url('../visuals/sumer.jpeg');
    background-size: cover;
    background-position: center;
  }
}

.menu-item {
  width: 42px;
  height: 42px;
  background-color: #191a37;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px;
  position: relative;
  border: none;

  &.selected {
    background-color: #4f44ba;
    -webkit-box-shadow: 0px 7px 30px -5px rgba(79,68,186,1);
    -moz-box-shadow: 0px 7px 30px -5px rgba(79,68,186,1);
    box-shadow: 0px 7px 30px -5px rgba(79,68,186,1);
  }

  &-title {
    font-size: 12px;
    opacity: .6;
  }

  &-section-title {
    font-size: 14px;
  }

  &-section {
    gap: 22px;
  }

  &-wrapper {
    gap: 12px;
    align-items: center;
    width: 60px;
  }

  &-row {
    gap: 20px;
    justify-content: space-evenly;
  }

  &.icon-dashboard {
    background-image: url('../visuals/dashboard-icon.png');
  }

  &.icon-calculator {
    background-image: url('../visuals/calculator-icon.png');
  }

  &.icon-expenses {
    background-image: url('../visuals/expenses-icon.png');
  }

  &.icon-food {
    background-image: url('../visuals/food-icon.png');
  }

  &.icon-health {
    background-image: url('../visuals/health-icon.png');
  }

  &.icon-wallets {
    background-image: url('../visuals/wallet-icon.png');
  }

  &.icon-account {
    background-image: url('../visuals/account-icon.png');
  }

  &.icon-savings {
    background-size: 18px;
    background-image: url('../visuals/savings-icon.png');
  }

  &.icon-currencies {
    background-size: 20px;
    background-image: url('../visuals/currencies-icon.png');
  }

  &.icon-wallets, &.icon-health, &.icon-food {
    background-size: 16px;
  }

  &.icon-upcoming {
    background-size: 12px;
    background-image: url('../visuals/upcoming-icon.png');
  }
}

.menu-section {
  gap: 24px;

  & .brand-image {
    position: relative;
    margin: 0 auto;
    width: 160px;
    height: 200px;
    background-image: url('../visuals/brand-image.png');
    background-size: cover;
    background-position: center;
    border-radius: 12px;
  }

  & .get-pro-button {
    color: #8e9bd2;
    font-size: 12px;
    font-weight: 900;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 20px;
    margin: auto;
    border: none;
    background-color: #fff;
    width: 70%;
    height: 40px;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
  }
}
